<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <button type="button" onclick="botTogger()" id="button"> Desabilitar bot</button>
    {{ attendance|json_script:"attendance" }}
    <script>
        let bot=true

        function botTogger(){
            if (bot == true){
                bot = false
                document.getElementById("button").innerText =  "Habilitar bot"
            }else{
                bot = true
                document.getElementById("button").innerText =  "Desabilitar bot"
            }
        }
        const roomName = JSON.parse(document.getElementById('attendance').textContent);
        function apiMessage(){
            return fetch(`http://127.0.0.1:8000/api/v1/chat/message/${roomName}/`)
                    .then(data => data.json())
        }

        apiMessage().then((data) => {
                {#let data_array = data.json()#}
                console.log(data)
                data.forEach((element, index, array)=>{
                    console.log(element)

                    document.querySelector('#chat-log').value += `(${element.text} + ${element.type})\n`;
                })
                document.querySelector('#chat-log').value += "Conversando com o bot \n";
                document.querySelector('#chat-log').value += "Digite menu e veja o que acontece \n";

            })


        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += `(${data.message} + ${data.type_message} )\n`;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;

            chatSocket.send(JSON.stringify({
                'message': message,
                'type_message': "enviado",
                'bot': bot
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>